
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

/* Default variables  */
@theme {
  /* Colors  */
  --color-blue-0: #E4EBFF;
  --color-blue-1: #C2D2FC;
  --color-blue-2: #728CCC;
  --color-blue-3: #3C5491;
  --color-blue-4: #1D2333;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-grey-1: #F0F0F0;
  --color-grey-2: #696969;
  --color-grey-3: #585A5C;
  --color-green-1: #DCFCE7;
  --color-green-2: #166537;
  --color-orange-1: #F9E7C0;
  --color-orange-pale-2: #FFF4EB;
  --color-brown-1: #943412;
  --color-red-1: #FFC9B5;
  --color-red-2: #8A0900;

  /* Fonts  */
  --font-inter: "Inter", sans-serif;
  
  /* Border radius */
  --radius-10: 10px;

  /* Breakpoints */
  --breakpoint-ss: 540px;
}